:root {
  --bean: #301504;
  --rawumber: #885d3b;
  --lion: #bf956f;
  --almond: #eee2d5;
  --primaryblue: #22303f;
  --secondaryblue: #020d2f;
}

html {
  box-sizing: border-box;
}

/* Universal Selector: resets all elements */
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-height: 100vh;

  background-color: var(--almond);
}


/* Contenedor */
main{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    width:min(1200px,90%);
    margin:2rem auto;
}

h2{
  color: var(--bean);
  font-style: italic;
}

/* Datos del usuario */
#usuario{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

#usuario p{
  color: var(--bean);
  font-weight: 500;
  letter-spacing: 0.15rem;

  margin: 0;
  justify-self: start;
}

#usuario strong{
  color: var(--rawumber);
}

#usuario .btn{
  padding: 10px;
  justify-self: end;

  background-color: var(--rawumber);
  color: var(--almond);
  transition: all 0.3s ease-in-out;
}

#usuario .btn:hover {
  background-color: var(--primaryblue);
  color: var(--almond);
  transition: all 0.3s ease-in-out;
  transform: translateY(-1px);
}

/* Acciones */
#acciones .btn{
    padding: .75rem 1rem;
    width: 100%;
}


/* to-do list */
.select-tarea {
    accent-color: var(--secondaryblue);
    cursor: pointer;
}

.list-group-item{
    border-left: 4px solid transparent;
    transition: .25s ease;
}

.list-group-item:has(.select-tarea:checked){
    border-left: 4px solid var(--bean);
    background: rgba(34, 48, 63, 0.6) ;
    color: var(--almond);
}

/* badges estados */
.badge-todo,
.badge-proceso,
.badge-listo{
    display:inline-block;
    padding:.35rem .75rem;
    border-radius:999px;
    font-size:.85rem;
    font-weight:600;
}

.badge-todo{
    background:#d7263d;
    color:var(--almond);
}

.badge-proceso{
    background: #f48c06;
    color:var(--bean);
}

.badge-listo{
    background: #c5d86d;
    color:var(--bean);
}